<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{image.caption}}</mat-card-title>
        <mat-card-subtitle>{{image.categories}}</mat-card-subtitle>
    </mat-card-header>
    <img class="image-size" mat-card-image src="http://localhost:8800/api/images/imagesSrc/{{image.src}}" alt="">
    <mat-card-content>

        <div>
           <app-google-maps [displayOnly]="display" [latSTR]="image.location[0]" [lngSTR]="image.location[1]"></app-google-maps>
        </div>

         <div *ngIf="image.privateMode ==='true'">
             Privte picture
         </div>
         <div *ngIf="image.privateMode==='false'">
             public picture
         </div>
         <div *ngIf="image.favorite==='true'">
             favorite picture
         </div>
         <div *ngIf="image.favorite==='false'">
             non favorite picture
         </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="openDialog()">
           edit
        </button>

    </mat-card-actions>
</mat-card>