<div>
  <section class="example-section" [formGroup]="premissions">
      <h4>Select your premissions:</h4>
      <p><mat-checkbox formControlName="camera">allow camera</mat-checkbox></p>
      <p><mat-checkbox formControlName="location">allow location</mat-checkbox></p>

    </section>
    <button
    class="btn"
    mat-raised-button
    color="primary"
    (click)="setPremissions() "
  >
    save allowenses
  </button>
<br>
<br>

  <span *ngIf="!existPassword"  [formGroup]="password">
      <mat-label>password</mat-label>
      <input id="password" placeholder="password" formControlName="password" required>
      <mat-icon matSuffix>password</mat-icon>
  </span>
  <button
  *ngIf="!existPassword"
  class="btn"
  mat-raised-button
  color="primary"
  (click)="setPassword()" >set new password</button>

</div>
