<mat-tab-group>
  <mat-tab *ngIf="premissionsSettings.camera" label="camera">
    <app-camera ></app-camera>
  </mat-tab>

  <mat-tab label="local storage">
    <app-storage-pic></app-storage-pic>
  </mat-tab>

  <mat-tab label="web">
    <app-url-upload></app-url-upload>
  </mat-tab>
</mat-tab-group>
<div>
  <button mat-raised-button (click)="openDialog()">edit picture details</button>
</div>
<ng-template #callAPIDialog>
  <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
    categories
    <div *ngFor="let category of categories">
      <label>
        <input type="checkbox" [value]="category.value" (change)="onCheckboxChange($event)" />
      </label>
      {{category.name}}
    </div>
    <div>
      <input
        type="text"
        placeholder="caption"
        formControlName="caption"
        required
      />
    </div>
    <div>
      <app-google-maps *ngIf="premissionsSettings.location" (newItemEvent)="setLocation($event)"></app-google-maps>
    </div>
    <div>
      <label>
        favorite
        <input
          type="checkbox"
          placeholder="favorite"
          formControlName="favorite"
        />
      </label>
    </div>
    <div>
      <label>
        privateMode
        <input
        *ngIf="privateMode"
          type="checkbox"
          placeholder="privateMode"
          formControlName="privateMode"
        />
      </label>
    </div>

    <input type="submit" value="Submit">
    <mat-dialog-actions >
      <button mat-button matDialogClose="no">Cancel</button>
    </mat-dialog-actions>
  </form>
  
</ng-template>
